<html>

    <head>
        <title>Projects</title>
        <link rel="stylesheet" href="../style/projects.css">

    </head>

    <body>
        <div class="rubber">
            <div id="header">header</div>
            <div id="title">title</div>
            <div id="body">
                <div id="projects">
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                    <div class="project">Jaguar shark! So tell me - does it really exist? Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! What do they got in there? King Kong? What do they got in there? King Kong? Did he just throw my cat out of the window? Just my luck, no ice.</div>
                </div>
            </div>
        </div>
        
    </body>

</html>
