body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16pt;
    line-height: 1.65;
    font-family: "Source Sans Pro";
}

#content {
    overflow-x: hidden;
}

.section-right, .section-left {
    margin-top: 8.75vw;
    margin-bottom: 8.75vw;
    width: 100%;
    min-height: 9vw;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.section-left::before, .section-left::after,
.section-right::before, .section-right::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 101vw;
    height: 9vw;
    background-color: inherit;
    display: inline-block;
}

.section-left::before, .section-right::before {
    top: -4.5vw;
}

.section-left::after, .section-right::after {
    bottom: 0;
    bottom: -4.5vw;
}

.section-left::after, .section-right::before {
    transform: rotate(-5deg);
}

.section-left::before, .section-right::after {
    transform: rotate(5deg);
}

.section-left::before, .section-left::after {
    left: -1vw;
}

.wrapper {
    width: auto;
    height: auto;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
}

#header {
    width: 100%;
    height: auto;
    background-color: #444A59;
    margin-top: 0;
}

#header::before {
    display: none;
}

#footer {
    background-color: #2E3747;
    margin-bottom: 0;
}

#footer::after {
    display: none;
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Raleway;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-weight: 700;
}

 h1 {
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 0.8em;
}

#header p {
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.589);
    letter-spacing: 0.05em;
}


p {
    font-weight: 300;
    margin: 0 0 2em;
}

#aboutme {
    background-color: #4C5C96;
}

#skills {
    background-color: #45558D;
}

#recent {
    background-color: #2E3141;
}

#code {
    padding-top: 0.25em;
}

code {
    font-size: 0.9em;
    background: #333645;
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    display: inline-block;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    column-gap: 2.5em;
    row-gap: 2.5em;
    padding-top: 0.9em;
    justify-items: center;
}

.card {
    width: auto;
    max-width: 30em;
    height: auto;
    background-color: #353849;
    border-radius: 5px;
    padding: 0.5em 1.5em;
}


label {
    color: #ffffff;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 2em 0 0.7em 0;
    text-transform: uppercase;
    
}

input, textarea {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
    line-height: 1.65;
    font-size: 12pt;
    font-weight: 300;

}

input {
    padding: 0 1em;
    height: 2.75em;

}

textarea {
    padding: 0.5em 1em;
    height: 2.75em;
    height: 9em;
    margin-bottom: 2em;
}

input:focus, textarea:focus {
    border: solid 2px rgb(72, 90, 172);

}

li {
    font-weight: 300;
    margin: 0 0 2em;
    list-style-type: none;
}

#footer a:hover {
    border-bottom: 1px dotted #ffffff00;
    color: #FFFFFF;
}

#footergrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 2.25em;
    column-gap: 4em;

}

#footer ul {
    margin-top: 3em;
    padding-left: 0;
}

#copyright {
    margin: 0 2em 0.5em 0;
    font-size: 0.9em;
    color: #ffffff79;
}

#copyright p {
    display: inline;
    margin-right: 3em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12pt;
    }

    .wrapper {
        padding: 1.25em;
    }

    #copyright p {
        display: block;
    }

    #footergrid {
        grid-template-columns: 100%;
    }

    .cards {
        grid-template-columns: 100%;
    }


    #footer ul {
        margin-top: 0;
    }


}