body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16pt;
    overflow-x: hidden;
}

.section-right, .section-left {
    margin-top: 9vw;
    margin-bottom: 9vw;
    width: 100%;
    min-height: 9vw;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

p {
    padding: 4em;
}

.section-left::before, .section-left::after,
.section-right::before, .section-right::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 101vw;
    height: 9vw;
    background-color: inherit;
    display: inline-block;
}

.section-left::before, .section-right::before {
    top: -4.5vw;
}

.section-left::after, .section-right::after {
    bottom: 0;
    bottom: -4.5vw;
}

.section-left::after, .section-right::before {
    transform: rotate(-5deg);
}

.section-left::before, .section-right::after {
    transform: rotate(5deg);
}

.section-left::before, .section-left::after {
    left: -1vw;
}

#body2 {
    background-color: red;
}

#header {
    background-color: blue;
}

#body1 {
    background-color: pink;
}

#body2 {
    background-color: red;
}


/* .section-right::before{
    z-index: 6;
    position: relative;
    content: "";
    display: inline-block;
    width: 101vw;
    height: 9vw;
    top: calc(-4.5vw);
    background-color: inherit;
    transform: rotate(-5deg); 
}

.section-right::after {
    z-index: inherit;
    position: relative;
    content: "";
    display: inline-block;
    width: 101vw;
    height: 9vw;
    top: calc(4.5vw);
    background-color: inherit;
    transform: rotate(5deg);
}

.section-left {
    text-align: left;
}

.section-left::before{
    position: relative;
    content: "";
    display: inline-block;
    width: 101vw;
    height: 9vw;
    top: calc(-4.5vw);
    left: -1vw;
    background-color: inherit;
    transform: rotate(5deg); 
}

.section-left::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 101vw;
    height: 9vw;
    top: calc(4.5vw);
    left: -1vw;
    background-color: inherit;
    transform: rotate(-5deg);
} */



