body {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    line-height: 1.65;
    
}

.wrapper {
    width: auto;
    height: auto;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: auto;
    background: linear-gradient(#484D59, #444A57);
    padding: 6.5em 3em 4em 3em;
    font-family: Raleway;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: auto;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 0.5em;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Raleway;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: Raleway;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.header p {
    text-transform: uppercase;
    font-size: .80em;
    color: rgba(255, 255, 255, 0.589);
    letter-spacing: 0.05em;
}

.body {
    background-color: #2E3141;
    width: 100%;
    height: auto;
    padding: 3em 3em 3em 3em;
    box-sizing: border-box;

}

p {
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin: 0 0 2em;
}

#code {
    padding-top: 0.25em;
}

code {
    font-size: 0.9em;
    background: #333645;
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, auto));
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 0.9em;
}

.card {
    width: auto;
    height: auto;
    background-color: #353849;
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

.footer {
    background: linear-gradient(#444A58, #293141);
    width: 100%;
    height: auto;
    padding: 3em 3em 3em 3em;
    box-sizing: border-box;
}

label {
    color: #ffffff;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 2em 0 0.7em 0;
    text-transform: uppercase;
    
}

input {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
    line-height: 1.65;
    font-size: 12pt;
    font-family: "Source Sans Pro";
    font-weight: 300;

}

input:focus {
    border: solid 2px rgb(72, 90, 172);

}

textarea {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
    line-height: 1.65;
    font-size: 12pt;
    height: 9em;
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin-bottom: 2em;
}

textarea:focus {
    border: solid 2px rgb(72, 90, 172);
}

li {
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin: 0 0 2em;
    list-style-type: none;
}

.footer a:hover {
    border-bottom: 1px dotted #ffffff00;
    color: #FFFFFF;
}

#footergrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, auto));
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 2.25em;
    column-gap: 1em;

}

ul {
    margin-top: 3em;
}

.copyright {
    margin: 0 2em 0.5em 0;
    display: inline-block;
    font-size: 0.9em;
    color: #ffffff79;
}

@media only screen and (min-width: 75em) {
    body {
      font-size: 16pt;
    }

    #footergrid {
        grid-template-columns: repeat(auto-fill, minmax(20em, auto));
    }
  }




