<html>

    <head>
        <title>Sam Trouy</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
        <div id="content">
            <div id="menubar">
                <img src="../images/initial.jpg" id="logo">
                <ul id="menuitems">
                    <li class="menuitem">Contact</li>
                    <li class="menuitem">Projects</li>
                    <li class="menuitem">Home</li>
                </ul>
            </div>
            <div id=profile>
                <div id="portrait"></div>
                <h1 id="name">Sam Trouy</h1>
                <h2 id="profession">Full stack web developer</h2>
                <p id="description">I make websites, apps, and automation software</p>
                    <script>
                        var eml = 'tr' + 'ou' + 'ys' + '16@' + 'gm' + 'ai' + 'l' + '.c' +'om';
                        document.write('<a id="touch" href="mai' + 'lto:' + eml +'">' + 'Get in touch' + '</a>');
                    </script>
            </div>

        </div>
    </body>

</html>

