body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16pt;
    line-height: 1.65;
    font-family: "Source Sans Pro";
}

/*
This is added to prevent side scroll from appearing. In order to achieve the tilted effect
of the site, a psuedo element is added on the top and bottom. The dimensions of the psuedo element
are calculated as follows (all units are viewport width): The overall width we need after tilting
the psuedo element is 100. After tilting the element by 5 degrees, we can calculate the needed
length with the information we have. 1 side of the triangle is 100, we have a 90 degree angle,
a 5 degree angle, and are left with an 85 defree angle. After rounding, the sides come out to 100,
101, and 9. I was not confident that using exact measurements would give a good result, so I rounded
up (thus needing to hide the overflow). I could have made an element that was excessively large, because
hiding the overflow would hide it anyway. I felt that this was a sloppy solution and I was interested
in solving the problem so I did it this way. Thank you Mr. Madeksho for teaching me about triangles
and making it so interesting.
*/
#content {
    overflow-x: hidden;
}

/*
.section-left and .section-right are divs that have the top and bottom edges
tiled by 5 degrees. section-right has an upward slope on the top edge and a downward slope
on the bottom edge, creating a larger area on the right side of the div. section-left has
the opposite angles, creating a larger area on the left side of the div. When placing the divs,
alternate between left and right. For the first and last div, add classes .header and .footer
respectively in order to keep the top and bottom sides straight.

Within each .section-right and .section-left, include a .wrapper div and put content inside of that.
*/
.section-right, .section-left {
    margin-top: 8.75vw;
    margin-bottom: 8.75vw;
    width: 100%;
    min-height: 9vw;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

/*
The before and after psuedo elements are what create the slanted effect on the divs.
All of the content remains inside of the main div.
*/
.section-left::before, .section-left::after,
.section-right::before, .section-right::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 101vw;
    height: 9vw;
    background-color: inherit;
    display: inline-block;
}

.section-left::before, .section-right::before {
    top: -4.5vw;
}

.section-left::after, .section-right::after {
    bottom: 0;
    bottom: -4.5vw;
}

.section-left::after, .section-right::before {
    transform: rotate(-5deg);
}

.section-left::before, .section-right::after {
    transform: rotate(5deg);
}

.section-left::before, .section-left::after {
    left: -1vw;
}


/* 
A .wrapper div is to be included inside of each .section-right and .section-left div. This is done
to position the content and give margins.
*/
.wrapper {
    width: auto;
    height: auto;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

/*
Add the #header id to the first .section- div, this will prevent the top side from being tilted.
*/
#header {
    width: 100%;
    height: auto;
    background-color: #444A59;
    margin-top: 0;
}

#header::before {
    display: none;
}

/*
Add the .footer id to the last .section- div. This will prevent the bottom side from being tilted.
*/
#footer {
    background-color: #2E3747;
    margin-bottom: 0;
}

#footer::after {
    display: none;
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Raleway;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-weight: 700;
}

h1 {
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 0.8em;
    margin-top: 0;
}

#header p {
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.589);
    letter-spacing: 0.05em;
}


p {
    font-weight: 300;
    margin: 0 0 2em;
}

#aboutme {
    background-color: #4C5C96;
}

#skills {
    background-color: #45558D;
}

#recent {
    background-color: #2E3141;
}

#code {
    padding-top: 0.25em;
}

/*
Styling for <code>. Add each skill within its own <code> element.
*/
code {
    font-size: 0.9em;
    background: #333645;
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    display: inline-block;
}

/*
The .cards div acts as the grid for all of the .card elements.
The cards inside will wrap from left to right.
*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    column-gap: 2.5em;
    row-gap: 2.5em;
    padding-top: 0.9em;
    justify-items: center;
}

.card {
    width: auto;
    max-width: 30em;
    height: auto;
    background-color: #353849;
    border-radius: 5px;
    padding: 1.5em;
}


label {
    color: #ffffff;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 2em 0 0.7em 0;
    text-transform: uppercase;
    
}

input, textarea {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
    line-height: 1.65;
    font-size: 12pt;
    font-weight: 300;

}

input {
    padding: 0 1em;
    height: 2.75em;

}

textarea {
    padding: 0.5em 1em;
    height: 2.75em;
    height: 9em;
    margin-bottom: 2em;
}

input:focus, textarea:focus {
    border: solid 2px rgb(72, 90, 172);

}

li {
    font-weight: 300;
    margin: 0 0 2em;
    list-style-type: none;
}



#footergrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 2.25em;
    column-gap: 4em;

}

#footer ul {
    margin-top: 3em;
    padding-left: 0;
}

#copyright {
    margin: 0 2em 0.5em 0;
    font-size: 0.9em;
    color: #ffffff79;
}

#copyright p {
    display: inline;
    margin-right: 3em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12pt;
    }

    .wrapper {
        padding: 1.25em;
    }

    #copyright p {
        display: block;
    }

    #footergrid {
        grid-template-columns: 100%;
    }

    .cards {
        grid-template-columns: 100%;
    }


    #footer ul {
        margin-top: 0;
    }

}

#messageSent {
    color: rgb(0, 255, 0);
    font-weight: 600;
}

#messageFailed {
    color: #e22a11;
    font-weight: 600;

}